In [ ]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
import geodatasets
import matplotlib.pyplot as plt

# NAICs Recoding

In [ ]:
df = pd.read_csv('regbiz_nodupes.csv')

In [56]:
df['NAICS_NEW'] = df['NAICS_CODE'] // 10000

In [ ]:
naics_mapping = {
    11: 'Agriculture, Forestry, Fishing and Hunting',
    21: 'Mining',
    22: 'Utilities',
    23: 'Construction', 
    **{key: 'Manufacturing' for key in range(31,34)},
    42: 'Wholesale Trade',
    **{key: 'Retail Trade' for key in range(44,46)},
    **{key: 'Transportation and Warehousing' for key in range(48,50)},
    51: 'Information',
    52: 'Finance and Insurance',
    53: 'Real Estate Rental and Leasing',
    54: 'Professional, Scientific, and Technical Services',
    55: 'Management of Companies and Enterprises',
    56: 'Administrative and Support and Waste Services',
    61: 'Educational Services', 
    62: 'Health Care and Social Assistance',
    71: 'Arts, Entertainment, and Recreation',
    72: 'Accommodation and Food Services',
    81: 'Other Services (except Public Administration)',
    92: 'Public Administration'
}
df['NAICS_NEW_NAME'] = df['NAICS_NEW'].map(naics_mapping)
df.to_csv('regbiz_newnaics.csv')

# Preliminary Analysis

In [ ]:
df = pd.read_csv('regbiz_newnaics.csv')

In [14]:
df['NAICS_NEW_NAME'].value_counts()

Series([], Name: count, dtype: int64)

In [ ]:
combined_counts = df.groupby(['NPU', 'NAICS_NEW_NAME']).size().reset_index(name='counts')
combined_counts

    NPU                                    NAICS_NEW_NAME  counts
0     A                   Accommodation and Food Services      19
1     A     Administrative and Support and Waste Services      24
2     A               Arts, Entertainment, and Recreation       2
3     A                                      Construction      27
4     A                              Educational Services       6
..   ..                                               ...     ...
393   Z  Professional, Scientific, and Technical Services      22
394   Z                    Real Estate Rental and Leasing      21
395   Z                                      Retail Trade      31
396   Z                    Transportation and Warehousing      23
397   Z                                   Wholesale Trade      22

[398 rows x 3 columns]

In [92]:
combined_counts.to_csv('biztypebynpu.csv')